[submodule "cli"]
	path = cli
	url = https://github.com/Pop-tg/cli.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Pop-tg/frontend.git
[submodule "api"]
	path = api
	url = https://github.com/Pop-tg/api.git
